<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="outline" (click)="clickMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!showMe" class="ion-text-capitalize">{{titulo}}</ion-title>
        <ion-buttons slot="end">
            <ion-searchbar placeholder="Busqueda noticias" *ngIf="showMe" (ionInput)="busquedaEvento($event)">
            </ion-searchbar>
            <ion-button *ngIf="busqueda" fill="outline" (click)="search()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>