<app-menu></app-menu>
<app-header [titulo]="titulo" [botonRegresoCancelar]="botonRegresoCancelar"></app-header>

<ion-content>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col>
        <form #formulario="ngForm" (ngSubmit)="envioVersionRamo()">
          <ion-list>
            <!-- <ion-item lines="none">
              <ion-label>Titulo:</ion-label>
            </ion-item>
            <ion-item lines="none" class="borde">
              <ion-textarea  type="text" name="titulo" type="text"
                          [(ngModel)]="versionRamo.id_asignatura" required
                          placeholder="Escriba titular" 
                          autoGrow>
              </ion-textarea>
            </ion-item> -->
            <ion-item lines="none">
              <ion-label>Ramo:</ion-label>
              <ion-button (click)="modalRamo()">
                <ion-icon name="bookmarks"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Profesor:</ion-label>
              <ion-button (click)="modalProfesor()">
                <ion-icon name="person-add"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Año:</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Semestre:</ion-label>
            </ion-item>
            <br>
            <br>
            <ion-button shape="round" expand="full" type="submit" [disabled]="formulario.invalid">
              Enviar
            </ion-button>
            <br>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>